
.alpha01 {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ecfbfc;
    padding-left: 20px;
    padding-right: 20px;
}
.alpha02{
  float: right;
  padding-right: 30px;
  padding-top: 45px;

}
.alpha03{
  padding-top: 12px;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width:7%;
}
h1{
  color: #66bfbf;
  font-family: serif;
  font-size: 40px;
}
h2 {
  color: #66bfbf;
}

P {
    font-size: 20px;
}

td {
    font-size: 15px;
}

th {
    font-size: 20px;
}

hr {
    color: blue;
}
